

<%= form_for :allocation , url: admins_create_allocation_path do |f| %>
<div class="row mt-3">
  <div class="col-10 offset-1">
    <div class="form-group">
      <label for="select1a">ユーザー選択:</label>
      <%= f.select :user, options_for_select(users.map{|c|[c[:name], c[:id]]}), {}, {class: 'form-control', id: 'select1a'} %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-10 offset-1">
    <p>画像選択:</p>
<!--     <p>*必ず終了よりも開始の方が小さくなるように設定してください</p>
    <div class="row mb-3">
      <div class="col-3">
        <label>開始:</label>
        <%#= f.number_field :start %>
      </div>
      <div class="col-3 offset-1">
        <label>終了:</label>
        <%#= f.number_field :end %>
      </div>
    </div> -->

    <table class="table table-striped">
      <tr class="thead-dark">
        <th></th>
        <th>画像ID</th>
        <th>画像</th>
        <th>情報</th>
      </tr>
      <% contents.each_with_index do |content, i| %>
      <%# contents.each do |content| %>
        <tr>
          <td>
            <%#= i+1 %>
            <%#= f.check_box 'pictures[content][]', content,false,id:"samurai_ingredients_#{i}"%>
            <%= f.check_box :pictures, {multiple: true}, content[0] ,nil%>

          </td>
          <%#= image_tag content[0], class: "navbar-brand" %>
          <td><%= content[0] %></td>
          <td><%= content[1] %></td>
          <td><%= content[2] %></td>
        </tr>
      <% end %>

    </table>
  </div>
</div>
<div class="row mt-3">
  <div class="col-2 offset-5">
      <%= f.submit "割り当て",class: "btn btn-primary btn-block"%>
  </div>
</div>
<% end %>
